@import "../../styles/core";

.hero-section {
  display: flex;
  justify-content: center;
}

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hero-title {
  color: $gray;
  font-size: 3.2rem;
  font-weight: bold;
}
